@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@theme {
  /* Fonts */
  --font-Satoshi: Satoshi, sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-05: #CD8D2C;
  --color-primary-10: #FFECCF;
  --color-primary-15: #5f533f;

  /* neutral */

  --color-secondary-05: #A61319;
  --color-secondary-10: #F57B80;


  --color-success-05: #004F2F;
  --color-success-10: #E6F1EC;


  --color-neutral-05:#4A4A4A;
  --color-neutral-10:#F5F5F5;
  --color-neutral-15:#EBEBEB;
  --color-neutral-20:#0D0D0D;
  --color-neutral-25:#FAFAFA;
  --color-neutral-30:#BFBFBF;
  --color-neutral-35:#DEDEDE;
  



  /* Shadows */
  --shadow-primary-button: 0 4px 12px 0 rgba(0, 79, 47, 0.24);

  /* Gradients */
  --bg-gradient-primary: linear-gradient(360deg, #FFFFFF 50%, #F5F5F5 100%);


}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

