@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@theme {
  /* Fonts */
  --font-Satoshi: Satoshi, sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-05: #cd8d2c;
  --color-primary-10: #ffeccf;
  --color-primary-15: #5f533f;

  /* neutral */

  --color-secondary-05: #a61319;
  --color-secondary-10: #f57b80;

  --color-success-05: #004f2f;
  --color-success-10: #e6f1ec;
  --color-success-15: #304e2d;
  --color-success-20: #2b8963;
  --color-success-20: #004529;

  --color-neutral-05: #4a4a4a;
  --color-neutral-10: #f5f5f5;
  --color-neutral-15: #ebebeb;
  --color-neutral-20: #0d0d0d;
  --color-neutral-25: #fafafa;
  --color-neutral-30: #bfbfbf;
  --color-neutral-35: #dedede;
  --color-neutral-40: #757575;
  --color-neutral-45: #ffffffa3;
  --color-neutral-50: #ffffff7a;
  --color-neutral-55: #3b3b3b;
  --color-neutral-45: #000;

  /* breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-3xl: 1920px;

  /* Shadows */
  --shadow-primary-button: 0 4px 12px 0 rgba(0, 79, 47, 0.24);
  --shadow-testimonial-card: 0 8px 24px 0 #b1a491;

  /* Gradients */
  --bg-gradient-primary: linear-gradient(360deg, #ffffff 50%, #f5f5f5 100%);
  --bg-gradient-card: linear-gradient(0deg, #fff 50%, #f5f5f5 100%);
}

.body {
  font-family: "Satoshi";
}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
