@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url("/assets/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
}

@theme {
  /* Fonts */
  --font-Satoshi: Satoshi, sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-10: #fb2c36;

  /* neutral */

  --color-neutral-10: #27272a;


  --color-success-10: #4FD67DC4;
  



  /* Shadows */
  --shadow-primary-button: 0 -2px 2px 0 rgba(255, 255, 255, 0.05) inset, 0 12px 64px 0 rgba(255, 23, 40, 0.50);

  /* Gradients */
  --bg-gradient-primary: linear-gradient(180deg, var(--red-400, #FF6467) 0%, var(--red-500, #FB2C36) 100%);

}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

